.commodity{
    padding:10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    & .every-commodity{
        width:200px;
        margin-top:10px;
        & .img-container{
             height:314px;
        }
    }
}